*~
*.iml
*.ipr
*.iws
.gradle
.idea
build
out
nbproject
bin
doc
target
!.gitignore
!.gitmodules
!.mailmap
!.gitattributes
dependency-reduced-pom.xml
lombok.config
.classpath
.project
.settings
.db
.DS_Store
.vscode
