[submodule "Glowkit"]
	path = Glowkit
	url = https://github.com/GlowstonePlusPlus/Glowkit
	branch = bukkit+glowkit
[submodule "FML"]
	path = FML
	url = https://github.com/deathcap/FML
[submodule "LegacyLauncher"]
	path = LegacyLauncher
	url = https://github.com/Mojang/LegacyLauncher
