[submodule "Glowkit"]
	path = Glowkit
	url = https://github.com/GlowstonePlusPlus/Glowkit
	branch = bukkit+glowkit
[submodule "SpongeAPI"]
	path = SpongeAPI
	url = https://github.com/SpongePowered/SpongeAPI
[submodule "FlowNetworking"]
	path = FlowNetworking
	url = git@github.com:GlowstonePlusPlus/network.git
