version: 2
machine:
    environment:
      _JAVA_OPTIONS: "-Xms1024m -Xmx1024m"
jobs:
    build:
        docker:
            - image: circleci/openjdk:8-jdk

        working_directory: ~/glowstone

        environment:
            MAVEN_OPTS: -Xmx1024m

        steps:
            - run: mvn --version
            - run: java -version

            - checkout

            - restore_cache:
                keys:
                # Use cache for this pom
                - glowstone-{{ checksum "pom.xml" }}
                # Fallback to latest cache is an exact match is not found
                - glowstone-

            - run: mvn -T 1C -B dependency:go-offline

            - save_cache:
                paths:
                    - ~/.m2
                key: glowstone-{{ checksum "pom.xml" }}

            - run: mkdir target
            - run: while sleep 5; do free -m; done >> target/memory.txt & sleep 6
            # The sleep after the & ensures any error messages from `free -m` are displayed

            - run: mvn -T 1C -B package

            - store_test_results:
                path: target/surefire-reports

            - run: rm target/memory.txt

            - store_artifacts:
                path: target/glowstone.jar
                destination: glowstone.jar
                path: target/memory.txt
                destination: memory.txt

    build-deploy:
        docker:
            - image: circleci/openjdk:8-jdk

        working_directory: ~/glowstone

        environment:
            MAVEN_OPTS: -Xmx1024m

        steps:
            - checkout

            - restore_cache:
                keys:
                # Use cache for this pom
                - glowstone-{{ checksum "pom.xml" }}
                # Fallback to latest cache is an exact match is not found
                - glowstone-

            - run: mvn -T 1C -B dependency:go-offline

            - save_cache:
                paths:
                    - ~/.m2
                key: glowstone-{{ checksum "pom.xml" }}

            # Ensure we are on the right repo before attempting a deploy
            - run: |
                if [ "${CIRCLE_PROJECT_USERNAME}" == "GlowstoneMC" ]; then
                  mvn -T 1C -B -s .circleci/maven.xml source:jar javadoc:jar deploy
                else
                  mvn -T 1C -B package
                fi

            - store_test_results:
                path: target/surefire-reports

            - store_artifacts:
                path: target/glowstone.jar
                destination: glowstone.jar

            - store_artifacts:
                path: target/glowstone-javadoc.jar
                destination: glowstone-javadoc.jar

            - store_artifacts:
                path: target/glowstone-sources.jar
                destination: glowstone-sources.jar
workflows:
    version: 2

    default-branch-build:
        jobs:
            - build-deploy:
                filters:
                    branches:
                        only: dev

    other-branch-build:
        jobs:
            - build:
                filters:
                    branches:
                        ignore: dev
